{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="card-columns">
            {% for key, entry in entries %}
                {% if entry.name is defined %}
                    <div class="card p-1 m-2">
                        {#<img class="card-img-top" src="{{ asset("media/" ~ entry.id ~ ".jpg") }}" alt="">#}
                        <img class="card-img-top" src="https://loremflickr.com/320/240/{{ entry.name }}?random={{ random() }}" alt="">
                        <div class="card-block">
                            <h4 class="card-title">{{ entry.name }}</h4>
                            <h5 class="card-text">{{ entry.waitTime.postedWaitMinutes }} min</h5>
                            <h6 class="card-text">{{ entry.waitTime.fastPass.available ? 'FassPass' : 'No FassPass' }}</h6>
                            <h6 class="card-text">{{ entry.waitTime.status }}</h6>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
