{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <ul class="collection">
        {% for key, entry in entries %}
            {% if entry.name is defined %}
                <li class="collection-item avatar {% if entry.waitTime.status == 'Closed' %}red darken-4{% elseif entry.waitTime.status == 'Down' %}orange darken-2{% else %}{% endif %}">
                    {#<img src="{{ asset("media/" ~ entry.id ~ ".jpg") }}" class="circle materialboxed" alt="{{ entry.name }}">#}
                    {% if key % 3 == 0 %}
                        <img src="http://thecatapi.com/api/images/get?type=gif&size=medium&random={{ random() }}" class="circle materialboxed" alt="{{ entry.name }}">
                    {% endif %}
                    <span class="title">{{ entry.name }}</span>
                    <p><b>{{ entry.waitTime.postedWaitMinutes }} min</b></p>
                    <p><i>{{ entry.waitTime.status }}</i></p>
                    {% if entry.waitTime.fastPass.available %}
                        <div class="chip green">FassPass</div>
                    {% endif %}
                    <a href="#!" class="secondary-content"><i class="material-icons">favorite_border</i></a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
